.logo {
	width: 100%;
	padding-bottom: 5px; 
}

nav ul {
	list-style: none;
}

nav ul a {
	text-decoration: none;
	color: black;
	font-family: arial;
	font-size: larger;
}

.loginsignup a {
	text-decoration: underline;
}

.hamburger {
	font-size: 45px !important;
	background-color: white;
	border-style: none;
	color: black;
}